 <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
       
            <div class="container m-2"></div>
          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item {{active}}">
              <a href="/?token={{token}}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>
          </ul>
        </aside>